@{
    ViewBag.Title = "群组管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var save = false;
    $(document).ready(function () {
        $("#btnNew").click(function () {
            $("#myModalLabel").text("群组-新增");
            $("#modal_txtNo").removeAttr("disabled");
            $("#modal_txtNo").val('');
            $("#modal_txtName").val('');
            save = false;
            $("#myModal").modal('show');
        });

        $("#btnModify").click(function () {
            var select = $(".selectedRow");
            if (select.length == 0) {
                alert("请选择要编辑的数据");
                return;
            }
            $("#myModalLabel").text("群组-编辑");
            $("#modal_txtNo").attr("disabled", "disabled");
            $("#modal_txtNo").val($(".selectedRow td:eq(1)").text());
            $("#modal_txtName").val($(".selectedRow td:eq(2)").text());
            save = false;
            $("#myModal").modal('show');
        });

        $("#btnSave").click(function () {
            Save('S');
        });

        $("#btnSaveAndKeep").click(function () {
            Save('K');
        });

        $("#btnDel").click(function () {
            var select = $("[name='chk']:checked");
            if (select.length == 0) {
                alert("请选择要删除的群组");
                return;
            }
            var nos = '';
            select.each(function () {
                nos = nos + "'" + $(this).val() + "',";
            });
            $.ajax({
                url: '@Url.Action("DelGroup","GroupManager")',
                type: "POST",
                datatype: "text",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({ Nos: nos }),
                success: function (data) {
                    if (data === "OK") {
                        alert("删除成功");
                        $("#btnSearch").click();
                    } else {
                        alert(data);
                    }
                },
                error: function (message) {
                    alert("删除失败,原因：" + message);
                }
            });
        });

        $("#btnClear").click(function () {
            $("#txtNo").val('');
            $("#txtName").val('');
        });

        $("#myModal").on('hidden.bs.modal', function () {
            if (save) {
                 $("#btnSearch").click();
            }
        });
    });

    function FormValiad() {
        $("#modal_form").bootstrapValidator({
            fields: {
                modal_txtNo: {
                    validators: {
                        notEmpty: {
                            message: "编号不能为空"
                        }
                    }
                },
                modal_txtName: {
                    validators: {
                        notEmpty: {
                            message: "名称不能为空"
                        }
                    }
                }
            }
        });
    }

    function Save(symbol) {
        FormValiad();
        $("#modal_form").data('bootstrapValidator').validate();
        if (!$('#modal_form').data('bootstrapValidator').isValid()) {
            return;
        } else {
            var model = {
                GROUP_NO: $("#modal_txtNo").val(),
                GROUP_NAME: $("#modal_txtName").val()
            };
            var url = '@Url.Action("AddGroup", "GroupManager")';
            //编辑
            if ($("#modal_txtNo").attr("disabled")) {
                url = '@Url.Action("UpdateGroup", "GroupManager")';
            }

            $.ajax({
                url: url,
                type: "POST",
                datatype: "text",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(model),
                success: function (data) {
                    if (data === "OK") {
                        alert("保存成功");
                        save = true;
                        if (symbol == "S") {
                            $("#myModal").modal('hide');
                        } else {
                            if ($("#modal_txtNo").attr("disabled") != "disabled") {
                                $("#modal_txtNo").val('');
                                $("#modal_txtName").val('');
                            }
                        }
                    } else {
                        alert(data);
                    }
                },
                error: function (message) {
                    alert("保存失败,原因：" + message);
                }
            });
        }
    }
</script>
@Html.Raw(ViewBag.js)
<form id="from" class="form-horizontal" method="POST" action="@Url.Action("Index", "GroupManager")">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" id="btnSearch">
                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" id="btnNew">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;新增
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" id="btnModify">
                        <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;编辑
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="button" id="btnDel">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;刪除
                    </button>
                </div>
                  <div class="btn-group">
                    <button class="btn btn-primary" type="button" id="btnClear">
                        <i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;清空
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label for="txtNo" class="col-sm-4 col-md-3 col-lg-3 control-label">编号:</label>
                    <div class="col-sm-8 col-md-9 col-lg-9">
                        <input type="text" id="txtNo" class="form-control" name="txtNo" value="@ViewBag.UserNo"/>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <label for="txtName" class="col-sm-4 col-md-3 col-lg-3 control-label">名称:</label>
                    <div class="col-sm-8 col-md-9 col-lg-9">
                        <input type="text" id="txtName" class="form-control" name="txtName" value="@ViewBag.UserName"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="divGrid" class="ajaxGrid">
            @{
@*<input type="checkbox" id="chkAll" style="position: absolute; margin-left: 8px; margin-top: 13px;" />*@
                var webGrid = new WebGrid(null, rowsPerPage: Model.PageSize, canPage: true, canSort: false, defaultSort: "GROUP_NO", ajaxUpdateContainerId: "divGrid", ajaxUpdateCallback: "BindClick()");
                webGrid.Bind(Model.Products, rowCount: Model.TotalNum, autoSortAndPage: false);
            }
            @webGrid.GetHtml(
                tableStyle: "table table-bordered table-responsive tableStyle",
                headerStyle: "headerStyle",
                    //alternatingRowStyle: "alternatingRow",
                selectedRowStyle: "selectedRow",
                mode: WebGridPagerModes.All, firstText: "首页", previousText: "上一页", nextText: "下一页", lastText: "尾页", numericLinksCount: 10,
                columns: webGrid.Columns(
                    webGrid.Column(format:
                        @<text>
            <input type="checkbox" name="chk" value="@item.GROUP_NO"/>
            </text>, style: "chkStyle"),
                    webGrid.Column(columnName: "GROUP_NO", header: "编号"),
                    webGrid.Column(columnName: "GROUP_NAME", header: "名称")
                    )
                )
        </div>
    </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">群组</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="modal_form">
                    <div class="form-group">
                        <label for="modal_txtNo" class="control-label col-sm-4 col-md-2 col-lg-2">编号:</label>
                        <div class="col-sm-8 col-md-10 col-lg-10">
                            <input type="text" class="form-control" id="modal_txtNo" name="modal_txtNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modal_txtName" class="control-label col-sm-4 col-md-2 col-lg-2">名称:</label>
                        <div class="col-sm-8 col-md-10 col-lg-10">
                            <input type="text" class="form-control" id="modal_txtName" name="modal_txtName" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存
                </button>
                <button type="button" class="btn btn-primary" id="btnSaveAndKeep">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;保存并继续
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;取消
                </button>
            </div>
        </div>
    </div>
</div>
